<header>
  <h1>ToDo</h1>
  <span>Приложение на Angular с использованием компонентов standalone</span>
</header>

<main>
  <div class="main__controls">
    <button (click)="addGroup()" class="button">Добавить группу</button>
  </div>
  <app-todo-group
    [todoGroup]="group"
    [index]="i"
    (changeTitleEvent)="handleChangeTitle($event)"
		(deleteGroup)="handleDeleteGroup($event)"
		(addNewItem)="handleNewItem($event)"
    *ngFor="let group of todoGroups; let i = index"
  ></app-todo-group>
</main>
